body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:grey;
}

.currency-converter {
  width: 400px;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
 font-weight: 600;
 text-transform: uppercase;
 font-size: 20px;
 padding: 10px 0px;
 margin-bottom: 15px;
 color: skyblue;
 text-align: center;
 border-bottom: 2px dashed #ccc;
 border-top: 2px dashed #ccc;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: grey;
  font-weight: 500;
}

input,
select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  outline: none;
} 

input:focus,
select:focus {
 border-color: skyblue;
}

.result{
  margin: 20px 0px;
  padding: 10px;
  border: 2px dotted skyblue;
  border-radius: 4px;
}

.result p {
  margin: 10px 0;
  color: blue;
  font-weight: bold;
  text-align: center;
}

